*{
    margin: 0;
    padding: 0;
}

body {
    background-color:antiquewhite;
}

.container {
    font-size: x-large;
    text-align: center; 
    margin-top: 200px;
}

p {
    margin: auto;
}

a { 
    color:rgb(170, 8, 8);
    font-weight: bolder;
}